<div class="container new_comment_form">
  <div class="coments" id="form_new">
    <div id="form_comment">
      <h3>Add comment:</h3>
      <%= form_with(model: [ @post, @post.comments.build ]) do |form| %>
        <%= form.hidden_field :parent_id %>
        <p>
          <%= form.label :comment %><br>
          <%= form.text_area :body, class:'form-control' %>
        </p>
        <p>
          <%= form.submit class:'btn btn btn-primary btn-lg ' %>
        </p>
      <% end %>
    </div>
  </div>
</div>