<h3>Add comments</h3>
<!-- please login or register to post a comment. -->

<% if current_user && current_user.banned == false %>
  <%= form_for ([@post, @post.comments.build]), remote:true do |form|%>
    <div class="field">
      <%= form.hidden_field :parent_id %>
      <%= form.label :'Text of comment' %>
      <%= form.text_area :body, class:"form-control" %>
    </div>
    <br>
    <div class="actions">
      <%= form.submit :'Add Comment', class:"btn btn-info"%>
    </div>
    <br>
  <% end %>
<% else %>
  <% if current_user == nil  || current_user.banned == false %>
    <label>Please login or register to post a comment.</label>
  <% else %>
    <label>You are banned, ahahah.</label>
  <% end %>
<% end %>
