<div class="container alert alert-light">
    <%= form_for(@author) do |f| %>
      <h1 class="mt-4">Registration</h1>
      <%= f.label :"Firs name:" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :"Last name:" %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <p title="Must contain 1 small letter, 1 capital letter, 1 number and minimum 8 symbols"><%= f.password_field :password, class: 'form-control' %></p>
      <hr>
      <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
</div>
