<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <!-- <div class="dropdown">
      <%#= form.collection_select :author_id, @authors, :id, :first_name,{}, class: "form-control"  %>
      <%= form.select :author_id, Author.pluck(:current_user, :id ),{}, class: "form-control" %>
    </div> -->

    <div class="field">
      <%= form.label :'Title:' %>
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :'Content:' %>
      <%= form.text_area :content, class:"form-control" %>
    </div>

    <div>
      <%= form.file_field :file %>
    </div>
    <br>
    <%= form.submit :Submit, class:"btn btn-dark"%>
    <br>
<% end %>
