<!DOCTYPE html>
<html>
<script src="https://kit.fontawesome.com/cea9c7549d.js" crossorigin="anonymous"></script>
  <head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <i class="fab fa-accessible-icon" style="color:white"></i>
      <%= link_to "Blog", posts_path, class: "navbar-brand "%>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="nav navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:white"><span class="fas fa-user"></span><%= current_user.email %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="color:white"><span class="fas fa-sign-in-alt"></span>Logout</a>
            </li>
            <% else %>

            <li class="nav-item">
              <a class="nav-link" href="/registration" style="color:white"><span class="fas fa-user"></span>Create account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" style="color:white"><span class="fas fa-sign-in-alt"></span>Log in</a>
            </li>
          <% end %>
        </ul>
    </nav>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if cookie_index and current_user == nil %>
      <script>alert('Please login or register!!');</script>
    <% end %>

  </head>

  <body class= "sp-3 mb-2 bg-secondary text-white">
    <div class="container">
      <%= render partial: 'posts/flash',  flash: flash %>
      <%= yield %>
    </div>

  </body>
</html>
