<!DOCTYPE html>
<html>
<script src="https://kit.fontawesome.com/cea9c7549d.js" crossorigin="anonymous"></script>
  <head>
    <nav class="navbar navbar-light bg-primary", style = "border-radius: 5px">
      <a class="navbar-brand" href="http://localhost:3000">
        <i class="fab fa-accessible-icon"></i>
        Blog
      </a>
    </nav>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
